[access]
	inheritFrom = Public-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group google/gerritcodereview-maintainers@googlegroups.com
[access "refs/for/refs/meta/config"]
	push = group Registered Users
	pushMerge = group Registered Users
[access "refs/heads/*"]
	create = group Project Owners
	label-Code-Review = -2..+2 group Project Owners
	submit = group Change Owner
	submit = group Project Owners
[access "refs/tags/*"]
	createSignedTag = group Project Owners
	createSignedTag = group gerrit-release-creators
	createTag = group Project Owners
	createTag = group gerrit-release-creators
